

.carousel-slider{
    background-color: #FCEAE8;
}
.header-dolar{
    color: #FF136F;
}
.buy-now-btn{
    background-color: #FF136F;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
}
.watch-part{
    background-color: #FFA500;
}
.bag-part{
    background-color: #DA70D6;
}
.shoes-part{
    background-color: #0000FF;
}
.catagories-img{
    
    width: 30%;
}
.contact-part{
    background-color: #FCEAE8;
    height: 350px;
}







